app-user {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.profile, .main {
  margin: 0;
  padding: 0;
}

.main {
  flex: 1;
  order: 0;
  max-width: 768px;
  background-color: #e9e9e9;
}

.main-copy {
  padding: 0 1em;
}

.profile {
  order: 1;
  min-width: 256px;
  background-color: #e7e7e7;
}
