app-user {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.post-placeholder {
  margin: 1em;
  padding: 1em;
  text-align: center;
  box-shadow: 2px 5px 5px #ddd;
};

.profile {
  order: 1;
  min-width: 384px;
}

.profile-info {
  background-color: #e9e9e9;
  display: table;
  margin: 0.5em;
  padding: 0.5em;
  box-shadow: 5px 5px 5px #ddd;

  .profile-pic * {
    border: 10px solid black;
  }
}
