.app-message {
  position: absolute;
  top: 5vh;
  left: 25em; right: 25em;
  z-index: 2;

  background-color: #efefaa;
  opacity: 0.9;

  border-radius: 5px;
  border: 1px solid #444;

  padding: 1em;
}

.app-message-dismiss {
  padding: 0.5em;
  float: right;
}

.app-message-dismiss a {
  color: #444;
  font-weight: bold;
  font-size: 0.8em;
}
