.nav-actions {
  padding: 0;
  margin: 0;
  float: right;
  list-style-type: none;

  li {
    font-size: 0.8em;
    float: left;
    padding: 0 1em;
  }
  li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em;
    border: 1px solid transparent;
  }
  li a:hover {
    background-color: #ccc;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 5px #aaa;
    transition: 0.2s;
  }
  li a:active {
    background-color: #aaa;
  }
}
