.app-post-form, .app-post-show {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  box-shadow: 5px 5px 5px #aaa;
}

.post-actions {
  width: 100%;
  padding: 1em 0;

  a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 0.5em;
    border: 1px solid #ddd;

    &:hover {
      border: 1px solid #aaa;
      box-shadow: 0px 0px 5px black;
      transition: box-shadow 0.15s;
    }

    &:active {
      background-color: #ccc;
    }
  }
}

.post-actions .post-favorited i {
  color: red;
}
