<div class='profile-info'>
  <ul class='fa-ul'>
    <li class='profile-pic'>
      <img src='<%=user.avatarUrl%>' />
    </li>

    <li>
      <i class='fa-li fa fa-user'></i>
      <%=user.displayName%>
    </li>

    <li>
      <i class='fa-li fa fa-asterisk'></i>
      <%=user.description%>
    </li>

    <li>
      <i class='fa-li fa fa-map-marker'></i>
      <%=user.location%>
    </li>

    <% if (user.provider == 'twitter') { %>
    <li>
      <i class='fa-li fa fa-twitter-square'></i>
      <a href='https://twitter.com/<%=user.displayName%>'>@<%=user.displayName%></a>
    </li>
    <% } %>

    <% if (user.provider == 'google') { %>
    <li>
      <i class='fa-li fa fa-google-plus'></i>
      <a href='<%=user.url%>'><%=user.displayName%></a><br>
    </li>
    <% } %>

  </ul>
</div>
