.app-user {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app-post-placeholder {
  margin: 1em;
  padding: 1em;
  text-align: center;
  box-shadow: 2px 5px 5px #ddd;
};

.profile {
  order: 1;
  min-width: 256px;
}

.profile-info {
  margin: 0.5em;
  padding: 0.5em;

  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  box-shadow: 5px 5px 5px #aaa;

  ul {
    line-height: 1.5em;
  }

  .profile-pic img {
    border: 10px solid #ccc;
    box-shadow: 0 0 10px white;
    height: 68px;
    width: 68px;
  }
}
